body {
    margin: 0px;
    padding: 0px;
    background: black url(lolis/unnamed.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}
#temporada{
    margin: 5% auto;
    width: 80%;
    text-align: center;
    background: black;
    display: inline-block;
    padding: 0% auto;
    border: 1px solid red;
    display: block;
}
#carrosel{
    margin: 5% auto;
    width: 80%;
    text-align: center;
    background: black;
    border: 1px solid red;
}
#area-principal{
    margin: 5% auto;
    width: 80%;
    height: 800%;
    text-align: left;
    background: black;
    border: 1px solid red;
    color: red;
    text-align: center;
}
.primeiro{
    width: 100%;
    height: 100%;
    border: solid red;
    background: white;
    color: black ;
}
.segundo{
    width: 100%;
    height: 100%;
    border: solid red;
    background: white;
    color: black ;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media(max-width:950px){
    .container{
        width: 64%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        margin-left: 18%;
        justify-content: center;
    }
}